body {
    background-color: #282c34;
}


.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;

}

.App-header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    margin: 5px 0 20px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    width: 155px;
    background-color: #61dafb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #21a1f1;
}

.hidden {
    display: none;
}

.success {
    margin-top: 20px;
    font-size: 18px;
    color: #3abf0b;
}

.failed {
    margin-top: 20px;
    font-size: 18px;
    color: #ff6b6b;
}

.content-response {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container {
    display: flex;
    width: 80%;
    max-width: 525px;
    flex-direction: column;
    align-items: start;
}

.input-container input {
    width: 100%;
}

.response-container {
    width: 90%;
    max-width: 1040px;
    word-break: break-word;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.response-json {
    white-space: pre-wrap;
    text-align: left;
}
