body {
    background-color: #282c34;
}


.App {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;

}

.App-header {
    padding: 20px;
    display: flex;
    flex: 5;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: white;
}

.row {
    width: 80%;
    max-width: 525px;
    display: flex;
    flex-direction: row;
    align-content: start;
}

.input-container {
    display: flex;
    width: 80%;
    max-width: 525px;
    flex-direction: column;
    align-items: start;
}

.method {
    margin-right: 8px;
}

.row .method {
    flex: 2
}

.row .url {
    flex: 8
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-container select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    /* Add any additional styling as needed */
}

textarea {
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input, textarea {
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.copy-container {
    position: relative;
}

.copy-icon {
    position: absolute;
    right: -20px;
    top: 42px;
}

.response-container.copy-container .copy-icon {
    top: 4px;
    right: 4px;
}


textarea {
    min-height: 100px;
    max-height: 255px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

textarea.json-body {
    min-height: 150px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    width: 155px;
    background-color: #61dafb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #21a1f1;
}

.hidden {
    display: none;
}

.content-response {
    display: flex;
    flex: 5;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.input-container input {
    width: 100%;
}

.response-container {
    width: 90%;
    max-width: 1040px;
    word-break: break-word;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.response-json {
    white-space: pre-wrap;
    text-align: left;
}
